@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
li{
    list-style: none;
}
a{
    text-decoration: none;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.firstSection
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

header .logo{
    position: relative;
    max-width: 80px;

}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;

}

header ul li a{
    display: inline-block;
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;
    color: #333;
} 

.textBox{
    color: black;
    font-weight: 500;
    
}


.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.2em;
    margin-bottom: 10px;
    font-weight: 800;
}

.content .textBox h2 span
{
    color: #fca311;
    font-weight: 800;
}

.content .textBox p
{
    color: #333;
}

.content .textBox a{
    display: inline-block;
    margin-top:20px;
    padding: 8px 20px;
    background-color: #fca311;
    text-decoration: none;
    color: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 20px 25px;

}

.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    
}

.content .imgBox:hover
{
    cursor: pointer;
}

.content .imgBox img{
    width: 700px;
}

.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    clip-path: circle(600px at right 800px);
}

.circle2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fca311;
    clip-path: circle(150px at left 100px);   
}

.about
{
    background-color: #333;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about .container .textBox{
    color: white;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .textBox h2
{
    font-size: 4em;
    margin-bottom: 10px;
}

.section-title span
{
    color: #fca311;
    font-weight: 800;
}

.section-text{
    font-size: 1em;
}


.aboutBox .about-list{
    grid-template-columns: 1fr;
    display: flex;
    list-style: none;
    align-content: space-between;
}



.aboutBox .about-list li{
    padding: 15px;
}

.about-card{
    background-color: #fff;
    color: #333;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
}

.card-ico{
    width: max-content;
    margin-inline: auto;
    margin-bottom: 15px;
}

.card-title{
    text-align: center;
    margin-bottom: 25px;
}

.pricing{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0F1B;
}

.price-content h2 {
    text-align: center;
    font-size: 4em;
    color: #fff;
}

.price{
    color: #fff;
    font-size: 3em;
    font-weight: 900;
    position: absolute;
    top: 9%;
    right: 10%;
}

.priceCards{
    display: flex;
    padding: 15px;
}

.priceCards .priceHeader{
    color: #fff;
    font-weight: 550;
    text-align: left;
    font-size: 2em;
}

.priceCards .pricing-card{
    background-color: #171727;
    position: relative;
    width: 360px;
    height: 260px;
    color: #212529;
    padding: 20px;
    margin: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.3);
}

.priceCards div a{
    color: #fff;
}

.pricing-card-header{
    margin-top: 70px ;
    font-size: 2em;
}

.pricing-card ul li{
    padding: 20px 0px;
}

.card-exp ul{
    display: flex;
    justify-content: space-between;
}

.card-exp li{
    color: #fff;
}
